.panel-body{
  color:#01679A;
}

.more-less {
    float: right;
    color: #212121;
}
.panel-title > a {
    display: block;
}

.col_grid{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.reduce_width{
  margin-right: 0 !important;
}
.font-color p,h1,h3{
  color: #01679a;
  font-family: serif;
}
.middle-grid{
  z-index: 2;
  box-shadow: 1px 1px 1px 1px #e0b104,0 0 1px 1px #e0b104, 0 0 25px 1px #e0b104, 0 0 5px 1px #e0b104
}
.grid-align{
  z-index: 2;
  box-shadow: 1px 1px 1px 1px #e0b104,0 0 1px 1px #e0b104, 0 0 25px 1px #e0b104, 0 0 5px 1px #e0b104
}
.bottom-align{
  z-index: 2;
  box-shadow: 1px 1px 1px 1px #e0b104,0 0 1px 1px #e0b104, 0 0 25px 1px #e0b104, 0 0 5px 1px #e0b104
}

.grid-align{
  margin-top: -25px;
}
