<div #scrollMe class="container content-section text-center">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>Sign Up</h1>
      <p>
        Are you an experienced local, and want to create an activity for tourists visiting your town or city?
      </p>
      <p>
        If yes, we would like to invite you to become a partner with Qooley.
      </p>
      <p>
        Join fellow locals who are providing unforgettable experiences and earning a living while doing what they love to do, when they want to do it!
      </p>
      <p>
        Once you fill out the form below, you will be placed on the invite list for the QooleyBiz app.
      </p>
      <form class="form" role="form" [formGroup]="signUpForm">
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <input [formControl]='signUpForm.controls["FirstName"]' type="text" name="FirstName" value="" class="form-control input-lg"
              placeholder="First Name" />
            <p class="error" *ngIf="signUpForm.controls['FirstName'].hasError('required') && signUpForm.controls['FirstName'].touched">Please enter First Name</p>
          </div>
          <div class="col-xs-6 col-md-6">
            <input [formControl]='signUpForm.controls["LastName"]' type="text" name="LastName" value="" class="form-control input-lg"
              placeholder="Last Name" />
          <p class="error" *ngIf="signUpForm.controls['LastName'].hasError('required') && signUpForm.controls['LastName'].touched">Please enter Last Name</p>
            </div>
        </div>
        <input [formControl]='signUpForm.controls["Email"]' type="email" name="Email" value="" class="form-control input-lg" placeholder="Your Email"
        />
        <p class="error" *ngIf="(signUpForm.controls['Email'].hasError('required') && signUpForm.controls['Email'].touched) || (signUpForm.controls['Email'].touched && signUpForm.controls['Email'].invalid)">Please enter valid Email Id</p>

        <input [formControl]='signUpForm.controls["Town"]' type="text" name="Town" value="" class="form-control input-lg" placeholder="Home Town"
        />
        <p class="error" *ngIf="signUpForm.controls['Town'].hasError('required') && signUpForm.controls['Town'].touched">Please enter Town</p>
        <div class="text-left">
          <p class="categories-listcls"> Select the Categories you would be interested in creating Services for: * </p>
          <div class="checkbox">
            <label><input type="checkbox" value=""> Adventure </label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value=""> Food & Drinks </label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value=""> Sightseeing  </label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value=""> Entertainment & NightLife </label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value=""> Hobbies & Skills  </label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value=""> Driving Services </label>
          </div>
        </div>
        <br/>
        <a [class.disabled]="signUpForm.invalid" class="btn btn-lg btn-primary btn-block signup-btn" data-toggle="modal" data-target="#sucess" (click)='onSubmit();'  href="javascript:;"> Submit</a>
      </form>
    </div>

    <!-- Modal -->
  <div class="modal fade" id="sucess" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Alert</h4>
        </div>
        <div class="modal-body">
          <p><b>Thank You! </b> for signing up to register as a Qooley.  You will receive the download link to the QooleyBiz mobile app when it is live.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


</div>
