video {
    width: 100%;
    height: auto;
}
.col_grid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.reduce_width{
    margin-right: 0 !important;
}
.font-color p,h1,h3{
    color: skyblue;
    font-family: serif;
}
.middle-grid{
  z-index: 2;
  box-shadow: 1px 1px 1px 1px #11e8d5, 0 0 50px 1px rgba(0, 243, 255, 0.88), 0 0 5px 0px #12e9f1, 0 0 25px 1px #12e9f1, 0 0 5px 1px #12e9f1
}
.grid-align{
    margin-top: -25px;
}