<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header head-logo-img">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		<i class="fa fa-bars"></i>
    </button>
      <div>
        <a routerLink='' class="navbar-brand page-scroll"> <img class="head-logo" src="assets/img/qlogo.png" /><span class="head-text">OOLEY</span></a>
      </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink='about' (click)="scrollToDown()" class="animated finite lightSpeedIn">About Us</a>
        </li>
        <li>
          <a routerLink='how-it-works' (click)="scrollToDown()" class="animated finite lightSpeedIn">How It Works</a>
        </li>
        <li>
          <a routerLink='contact' (click)="scrollToDown()" class="animated finite lightSpeedIn">Contact Us</a>
        </li>
        <li>
          <a routerLink='sign-up' (click)="scrollToDown()" class="animated finite lightSpeedIn">Sign Up</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<!-- Intro Header -->
<header class="col-lg-12 intro animated finite zoomIn" #mainScreen>
  <div class="set-position-div">
    <img class="main-log" src="assets/img/qlogo.png" />
    <h3 class="tag_line">Live The Local Experience</h3>
    <ul class="list-inline banner-social-buttons">
      <li class="col-xs-6 col-md-6 col-lg-6 left-btn">
        <a routerLink='welcome' (click)="scrollToDown()" class="btn btnghost btn-lg"><span class="network-name">TRAVEL WITH QOOLEY</span></a>
      </li>
      <li class="col-xs-6 col-md-6 col-lg-6">
        <a routerLink='become-qooley' (click)="scrollToDown()" class="btn btnghost btn-lg"><span class="network-name">BECOME A QOOLEY</span></a>
      </li>
    </ul>
  </div>
    <video width="100%" loop preload="metadata" autoplay>
      <source src="assets/videos/Heaven.mp4" type="video/mp4">
      <source src="assets/videos/Heaven.mp4" type="video/ogg"> Your browser does not support HTML5 video.
    </video>

</header>

<!-- Child Routing -->
<router-outlet>

</router-outlet>

<!-- Footer -->
<footer>
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-7 social-links">
        <h3 class="text-short credits text-shorth3 pull-left title">
          <a><span>Follow us</span></a>
        </h3>
        <ul class="pull-left list-inline">
          <li class="facebook">
            <a title="Visit Upwork on Facebook" target="_blank" href="https://www.facebook.com/Qooley-1853729341570437/"> <i class="fa fa-facebook-square social-icons"></i> </a>
          </li>
          <li class="twitter">
            <a title="Follow @Upwork on Twitter" target="_blank" href="https://twitter.com/qooley_official/"> <i class="fa fa-twitter-square social-icons"></i> </a>
          </li>
          <li class="instagram">
            <a title="Follow Upwork on Instagram" target="_blank" href="https://www.instagram.com/qooley_official/"> <i class="fa fa-instagram social-icons"></i> </a>
          </li>
          <li class="linkedin">
            <a title="Read Upwork company news on LinkedIn" target="_blank" href="https://www.linkedin.com/m/login/"> <i class="fa fa-linkedin-square social-icons"></i> </a>
          </li>
          <li class="gplus">
            <a title="Add Upwork to Google+ circles" target="_blank" href="https://plus.google.com/u/0/111547401743450398274">
            <i class="fa fa-google-plus-square social-icons"></i> </a>
          </li>
          <!-- <li class="youtube"><a title="Watch Upwork videos on YouTube" target="_blank" href="https://www.youtube.com"> <i class="fa fa-youtube-square social-icons"></i> </a></li>-->
          <li class="flickr">
            <a title="Follow Upwork on flickr" target="_blank" href="https://www.flickr.com/photos/149825155@N08/"> <i class="fa fa-flickr social-icons"></i> </a>
          </li>
          <li class="tumblr">
            <a title="Follow Upwork on tumblr" target="_blank" href="https://qooleyofficial.tumblr.com/"> <i class="fa fa-tumblr social-icons"></i> </a>
          </li>
        </ul>
        <a routerLink='terms-conditions' (click)="scrollToDown()" class="termscls">Terms</a>
        <a routerLink='safety-satisfaction' (click)="scrollToDown()" class="termscls">Safety</a>
      </div>
      <div class="col-sm-5 apps-links text-right">
        <div class="item ng-scope">
          <h3 class="text-short credits text-shorth3"><span>Download</span> mobile app</h3>
          <ul class="pull-right list-inline">
            <li class="apple">
              <a title="Download  app from Itunes" target="_blank" href="https://itunes.apple.com"> <i class="fa fa-apple social-icons"></i> </a>
            </li>
            <li class="android">
              <a title="Download  app from Google Play" target="_blank" href="https://play.google.com"> <i class="fa fa-android social-icons"></i> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="margin-hrcls">
    <p class="credits">
      Copyright &copy; Your Website 2017.</p>
  </div>
</footer>
