<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		<i class="fa fa-bars"></i>
		</button>
      <a class="navbar-brand page-scroll"> LOGO </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink='' class="animated finite lightSpeedIn">Welcome to Qooley!</a>
        </li>
        <li>
          <a routerLink='about' class="animated finite lightSpeedIn">About As</a>
        </li>
        <li>
          <a routerLink='safety-satisfaction' class="animated finite lightSpeedIn">Safety</a>
        </li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown"> POLICIES <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li> <a routerLink='terms-conditions'> Terms & Conditions </a></li>
						<li> <a routerLink='payment-policy'> Payment Policy </a></li>
						<li> <a routerLink='incident-policy'> Incident Policy </a></li>
						<li> <a routerLink='privacy-policy'> Privacy Policy </a></li>                      
					</ul>
				</li>
        <li>
          <a routerLink='how-it-works' class="animated finite lightSpeedIn">How It Works</a>
        </li>
				<li>
          <a routerLink='contact' class="animated finite lightSpeedIn">Contact Us</a>
        </li>
				<li>
          <a routerLink='sign-up' class="animated finite lightSpeedIn">Sign Up</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<!-- Intro Header -->
<header class="intro animated finite zoomIn">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading animated finite rollIn">Qooley</h1>
          <p class="intro-text animated finite fadeInRightBig">
            
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Contact Section -->
<!--<section id="contact">
  <div class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Your's Message</h2>
        <p>
          Leporine Bee. Latin Name, Festapis lepus, Description. Discovered by, Sengir, "I swear! It was tiny, had wings and I definitely
          saw fluffy little rabbit ears! ... No!
        </p>
        <p>
          <i><a routerLink='' style="border-bottom:1px dashed #ccc;">addyour_e-mail@gmail.com</a></i>
        </p>
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="https://twitter.com/" class="btn btnghost btn-lg"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a>
          </li>
          <li>
            <a href="https://www.facebook.com/" class="btn btnghost btn-lg"><i class="fa fa-facebook fa-fw"></i><span class="network-name">Facebook</span></a>
          </li>
          <li>
            <a href="https://plus.google.com/" class="btn btnghost btn-lg"><i class="fa fa-google-plus fa-fw"></i><span class="network-name">Google+</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>-->

<!-- Child Routing -->
<router-outlet>

</router-outlet>

<!-- Footer -->
<footer>
  <div class="container text-center">
    <p class="credits">
      Copyright &copy; Your Website 2017.</p>
  </div>
</footer>