
.signup-btn {
  background: #e0b104;
  background-image: -webkit-linear-gradient(top, #e0b104, #e0b104);
  background-image: -moz-linear-gradient(top, #e0b104, #e0b104);
  background-image: -ms-linear-gradient(top, #e0b104, #e0b104);
  background-image: -o-linear-gradient(top, #e0b104, #e0b104);
  background-image: linear-gradient(to bottom, #e0b104, #e0b104);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #e0b104;
  -webkit-box-shadow: 0px 0px 0px #e0b104;
  -moz-box-shadow: 0px 0px 0px #e0b104;
  box-shadow: 0px 0px 0px #e0b104;
  font-family: Arial;
  color: #01679A;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #578843  1px;
  text-decoration: none;
}

.signup-btn:hover {
  background: #e0b104;
  background-image: -webkit-linear-gradient(top, #e0b104, #e0b104);
  background-image: -moz-linear-gradient(top, #e0b104, #e0b104);
  background-image: -ms-linear-gradient(top, #e0b104, #e0b104);
  background-image: -o-linear-gradient(top, #e0b104, #e0b104);
  background-image: linear-gradient(to bottom, #e0b104, #e0b104);
  text-decoration: none;
}

.form .form-control { margin-bottom: 10px; }

.input-width-half{
    width: 50% !important;
}
