/* You can add global styles to this file, and also import other style files */
.error{
        color: red;
    font-size: 11pt;
    text-align: left;
}
a[disabled], html input[disabled] {
    cursor: default;
}
.img-desc{
    text-align: center;
    font-size: 15pt;
    display: block;
    margin: auto 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* STYLES GO HERE */
    .intro{
        padding: 72px 0 0 0 !important;
    }
    .btnghost {
        border: 2px solid #e0b104;
        background-color: transparent;
        padding: 6px 6px;
        letter-spacing: 3px;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 600;
        color: #23527c;
        margin-top: -42px;
        display: inline-block;
    }
    .left-btn{
        left:15px;
    }
    .content-section{
        padding: 0;
    }
}

/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 767px)
and (orientation : portrait) {
/* STYLES GO HERE */
    .intro{
        padding: 57px 0 0 0 !important;
    }
    .btnghost {
        border: 2px solid #e0b104;
        background-color: transparent;
        padding: 5px 2px;
        letter-spacing: 3px;
        font-size: 9px;
        text-transform: uppercase;
        font-weight: 600;
        color: #23527c;
        margin-top: -40px;
        display: inline-block;
    }
    .content-section{
        padding: 6px 2px;
    }
    .head-logo {
        width: 51px !important;
        padding: 0px 0px 24px 0px !important;
    }
    .head-logo-img{
        margin-bottom: 0 !important;
    }
    .head-text{
        font-size: larger;
    }
    .left-btn{
        left: 12px;        
    }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
.navbar-custom {
    padding: 10px 0;
}
    .intro{
        height: 49%;
        padding: 100px 0 2px 0 !important;
    }
    .btnghost {
        border: 2px solid #e0b104;
        background-color: transparent;
        padding: 7px 7px;
        letter-spacing: 3px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        color: #23527c;
        margin-top: 25px;
        display: inline-block;
    }
    .content-section{
        padding: 6px 2px;
    }
    .safty-label{
        padding: 20px;
        margin-left: 51%;
    }
    .termscls{
        margin-right: 0 !important;
    }
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */
.head-logo{
    width: 34px !important;
    padding: 6px 0px 14px 1px !important;
}
.head-text{
    font-size: large !important;
}
.head-logo-img{
        margin-bottom: 0 !important;
}
.head-text{
    font-size: large;
}
    .intro{
        height: 37%;
        padding: 57px 0 2px 0 !important;
    }
    .btnghost {
        border: 2px solid #e0b104;
        background-color: transparent;
        padding: 3px 0;
        letter-spacing: 3px;
        font-size: 8px;
        text-transform: uppercase;
        font-weight: 600;
        color: #23527c;
        margin-top: -53px;
        display: inline-block;
    }
    .content-section{
        padding: 6px 2px;
    }
    .left-btn{
        left: 12px;
    }
    
}

@media only screen
and (min-width : 320px)
and (max-width : 479px) {
/* STYLES GO HERE */
    .intro{
        padding: 72px 0 0 0 !important;
    }
    .btnghost {
        border: 2px solid #e0b104;
        background-color: transparent;
        padding: 4px 4px;
        letter-spacing: 3px;
        font-size: 8px;
        text-transform: uppercase;
        font-weight: 600;
        color: #23527c;
        margin-top: -30px;
        display: inline-block;
    }
    .left-btn{
        left:15px;
    }
    .content-section{
        padding: 0;
    }
    .termscls{
        float: right;
        margin-left: 0 !important;
        margin-right: 24%;
        text-decoration: underline;
    }
}

@media only screen
and (min-width : 480px)
and (max-width : 550px) {
/* STYLES GO HERE */
    .intro{
        padding: 72px 0 0 0 !important;
    }
    .btnghost {
        border: 2px solid #e0b104;
        background-color: transparent;
        padding: 5px 2px;
        letter-spacing: 3px;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 600;
        color: #23527c;
        margin-top: -16px;
        display: inline-block;
    }
    .content-section{
        padding: 6px 2px;
    }
    .termscls{
        float: right;
        margin-right: 26%;
        text-decoration: underline;
    }
}

@media only screen
and (min-width : 551px)
and (max-width : 768px) {
/* STYLES GO HERE */
    .intro{
        padding: 72px 0 0 0 !important;
    }
    .btnghost {
        border: 2px solid #e0b104;
        background-color: transparent;
        padding: 7px 5px;
        letter-spacing: 3px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        color: #23527c;
        margin-top: -6px;
        display: inline-block;
    }
    .content-section{
        padding: 6px 2px;
    }
    .termscls{
        float: right;
        margin-right: 26%;
        text-decoration: underline;
    }
    .safty-label{
        padding: 20px;
    }
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
    .list-inline{
        padding-left: 13px;
    }
    .btnghost {
        border: 2px solid #e0b104;
        background-color: transparent;
        padding: 14px 14px;
        letter-spacing: 3px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        color: #23527c;
        margin-top: 60px;
        display: inline-block;
    }
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
}

.js-video {
    height: 0;
    padding-top: 25px;
    padding-bottom: 0;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
  }
  
  .js-video.widescreen {
    padding-bottom: 0;
  }
  
  .js-video.vimeo {
    padding-top: 0;
  }
  
  .js-video embed, .js-video iframe, .js-video object, .js-video video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }