.side-menu{
    margin: auto 0;
    vertical-align: middle;
    list-style: none;
    font-size: larger;
    padding-left: 0;
    text-align: left;
    margin-bottom: 10px;
}
.side-menu a{
    cursor: pointer;
    line-height: 36px;
}
.how-its-work{
    text-align: left;
}